---
import Layout from "../layouts/Layout.astro";
import { sql } from "bun";

const url = Astro.url;

const schema = {
  "@context": "https://schema.org",
  "@type": "WebPage",
  name: "",
  description: "",
};

const response = await sql`
  SELECT NOW();
`;
---

<Layout title="" description="" schema={schema}>
  <div class="container">
    <h1>{response[0].now}</h1>
  </div>
  <div class="container pt-2">
    <p>{JSON.stringify(response[0].now)} | {Math.random()}</p>
  </div>
</Layout>
